body {
        color: rgb(65,75,86);
        font-family: arial;
        margin: 0px;
}
div {

        width: 100vw;
        text-align: center;
}
h1, h2 {
        text-align: center;
}
h1 {
        font-size: 5em;
}
h2 {
        font-size: 2.5em;
}
img {
        display: flex;
        padding: 20px;
      margin: 0 auto;
        border-radius: 130px;
}
p {
        width: 40%;
        margin: 10vh 10vw;
        font-size: 2em;
        text-align: center;
}
a {
        color: rgb(0,0,0);
}
ol {
        list-style: none;
        padding: 10;
        margin-bottom: 10%;
        font-size: 2em;
        display: flex;
        justify-content: space-evenly;
}
li#lower {
        margin-top: 8%
}
li#lowest {
        margin-bottom: 14%;
}
div.constrast {
        background-color: rgb(0,0,0);
        color: rgb(255,255,255);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
ul {
        list-style: none;
        display: flex;
}
li {
        margin:0 20px;
        transition: 0.6s ease;
}
li:hover {
        font-size: 1.2em;
        transition: 0.6s ease;
}
element.style {
  margin-bottom: 30px;
    padding-bottom: 25px;
    padding-top: 20px;

  .btn-primary {
        color: #f8f9fa;
        background-color: #17a2b8;
        border-color: #007bff;
