
body {
  color: rgb (141,96,160);
  font-family:
  padding: 10px;
  margin: 100px;
}
div {
  min-height: 50vh;
  width: 50vw;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 2em;
}
